DATABASE_URL=
ENABLE_PLAYWRIGHT_HEADLESS=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_APP_NAME=
OPENAI_API_KEY=
REDIS_URL=
STORAGE_PROVIDER=

# OAuth 2.0 Credentials (Google & GitHub)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
APP_URL=https://ais-dev-ss5pessumkhmwglkreltsp-49121961165.asia-east1.run.app
SHARED_APP_URL=https://ais-pre-ss5pessumkhmwglkreltsp-49121961165.asia-east1.run.app
