DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="AutoApply AI"
GEMINI_API_KEY=""
OPENAI_API_KEY=""
REDIS_URL="redis://localhost:6379"
STORAGE_PROVIDER="local"
ENABLE_PLAYWRIGHT_HEADLESS="true"
